@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    letter-spacing: -0.5px;
}

.jumbotron {
    background-image: asset-url('this.png');
}

.jumbotron h1 {
    color: #ffffff;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777777;
}

footer a:hover {
    color: #222222;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
}

.article-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
}

.listing {
    list-style: none;
    padding-left: 0;
}